.backButton {
    position: absolute;
    top: 4%;
    width: 92%;
    max-height: 5%;
}
.profile {
    position: absolute;
    top: 10%;
    width: 100%;
    max-height: 35%;
}
.questionTopCard {
    position: absolute;
    top: 10%;
    width: 92%;
    min-height: 25%;
    max-height: 25%;
    overflow:scroll;
}
.answerCard {
    width: 92%;
    min-height: 25%;
    max-height: 25%;
    overflow: scroll;
}
.contents {
    position: absolute;
    top: 37%;
    width: 100%;
  }